Django==1.7.4
Pillow==2.7.0
Whoosh==2.6.0
argparse==1.2.1
django-filters==0.1.0
django-grappelli==2.6.3
django-haystack==2.3.1
django-tinymce==1.5.3
gunicorn==19.2.1
haystack==0.15
httplib2==0.9
oauth2==1.5.211
oauthlib==0.7.2
payu==0.3
psycopg2==2.6
python-ptrace==0.8.1
python-twitter==2.2
requests==2.5.1
requests-oauthlib==0.4.2
setproctitle==1.1.8
wsgiref==0.1.2
